/* mystyle.css */
body {
	background-color: #3700F4;
	color: #D0D0D0;
}

h1 {
	color: #00F000;
}

.large {
	font-size: 1.4em;
	color: #0080FF;
}

.bg-white {
	background-color: white;
}

.border {
	/* border-style: solid;
	border-width: 2px;
	border-color: black; */
	border: 2px black solid;
}

div {
	/* margin-top: 3px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px; */
	margin: 3px 10px 5px 10px;
	padding: 2px 10px 15px 5px;
}